/* Inicio parte Dani */

body{
  background: url(img/ninbg.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.custom-footer {
  text-align: center;
  background-color: #416864;
  padding: 20px; 
  margin-top: 20px;
}

.row {
  margin-bottom: 20px;
}

.row > * {
  margin-bottom: 20px;
}

/* Fin parte Dani */