
 /*estilos about us */
#back {
    background-image: url('../Pic/ninbg - copia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }

  a {
    font-family: 'Press Start 2P', system-ui;
  }
  #title{
  color: #00C6AB;
}

  p {
    color: #fff; /* Change the color for paragraphs */
    font-size: 20px;
  }

  h1 {
    font-family: 'Press Start 2P', system-ui;
    font-size: 40px;
    
  }

  footer p {
    color: #00C6AB; /* Change the color for footer text */
  }
  
  